<?xml version="1.0" encoding="UTF-8"?>


			<!-- 
								|-appender (name, class)
								 | |-encoder
								 | |- Pattern
								 |
configuration-|
								 |-logger (name, level, additivity)
								 | |-appender-ref (ref)
								 |
								 |-root (by default level is DEBUG so keep it simple to INFO)
								 |-appender-ref (ref) 
								 -->
								 
				<!-- \
		%-5level – means the level of the logging event should be left justified to a width of five characters
		%msg – outputs the application-supplied message associated with the logging event.
		%d{HH:mm:ss.SSS} – Used to output the date of the logging event.
		%logger{36} – outputs the name of the logger at the origin of the logging event. It takes an integer
		%n – outputs the platform dependent line separator character or characters
				 -->				 
								 
<configuration>
		<appender name="consoleAppender" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
		<!-- Left string with maximum of 5 characters - Error msg - Time of error - From where the msg is logged (logger)- every error msg should appear on new line -->
			<Pattern>%-5level %msg %d{HH:mm:ss.SSS} %logger{36} %n</Pattern>
		</encoder>
	</appender>
	
	<!-- additivity = "false" - prevents loading of page twice beacuse of logger-->
	<!-- add the logger for displaying the DEBUG information. -->
	<logger name="com.springmvc" level="DEBUG" additivity = "false">
		<appender-ref ref="consoleAppender"/>	
	</logger>	
	
	<!-- By default root will be in debug mode -->
	<!-- Add the root element. -->
	<root level="INFO">
		<appender-ref ref="consoleAppender"/>
	</root>
</configuration>